/*Dark header*/

.header {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;

  .second_logo {
    display: none;
  }

  .navbar-brand {
    width: 318px;
    height: 60px;
  }

  .navbar {
    .navbar-toggler {
      .navbar-toggler-icon {
        background: url("../images/Hamburger.svg");
      }
    }

    //.show {
    //  display: none;
    //}

    .navbar-nav {
      .nav-link {
        color: #24A3FF;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        &:hover {
          color: #24A3FF;
        }
      }

      &:nth-child(2) {
        .nav-item.active {
          border-bottom: 3px #F0145A solid;

          &:hover, &:active {
            border-bottom: 3px #F0145A solid;

          }

          .nav-link {
            color: #F0145A;
          }
        }

        li {
          transition: 0.2s;
          border-bottom: 3px transparent solid;

          &:hover, {
            border-bottom: 3px #24A3FF solid;
          }
        }
      }
    }

  }

  .number {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #B3B3BA;

    &:hover {
      color: #F0145A;
    }

  }

  .iconify {
    width: 24px;
    height: 24px;
    color: #B3B3BA;

    &:hover, &:active {
      color: #F0145A;
    }
  }

  .navbar-nav {
    .nav-item.active {
      &:hover, &:active {
        border-color: #F0145A;
      }

      .nav-link {
        color: #F0145A;
      }
    }
  }

  //.nav-link {
  //  color: #24A3FF;
  //  font-style: normal;
  //  font-weight: 700;
  //  font-size: 16px;
  //  line-height: 20px;
  //
  //  &:hover {
  //    color: #24A3FF;
  //  }
  //}
  //}

  ul {
    &:nth-child(1) {

      .nav-item.active {

        .top {
          padding: 5px 7px;
          background-color: #F0145A;
          border-radius: 8px;
          color: #FFFFFF;

          &:hover, &:active {
            padding: 5px 7px;
            background-color: #F0145A;
            border-radius: 8px;
            color: #FFFFFF;
          }
        }
      }


      li {
        .active {
          background-color: #F0145A;
          border-radius: 8px;

          a {
            &:hover {
              background-color: #F0145A;
              border-radius: 8px;
            }

            color: #FFFFFF;
          }
        }

        .color_Kyiv {
          &:hover, &:active {
            color: #F0145A;
          }
        }

        &:nth-child(4) {
          &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: -2px;
            right: 6px;
            width: 6px;
            height: 6px;
            border-radius: 10px;
            margin-left: 15px;
            background-color: #E6E6F0;
            pointer-events: none;

          }
        }

        &:nth-child(5) {
          &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: -2px;
            right: 6px;
            width: 6px;
            height: 6px;
            border-radius: 10px;
            margin-left: 15px;
            background-color: #E6E6F0;
            pointer-events: none;

          }
        }

        &:nth-child(6) {
          &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: -2px;
            right: 6px;
            width: 6px;
            height: 6px;
            border-radius: 10px;
            margin-left: 15px;
            background-color: #E6E6F0;
            pointer-events: none;

          }

        }
      }

    }

    li {
      a {
        color: #B3B3BA;
      }
    }


    .top {
      padding: 5px 7px;
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 1px;
      color: #B3B3BA;
      transition: 0s;

      &:hover {
        background-color: rgb(245, 245, 250);
        border-radius: 8px;
      }

    }

  }

}


////////////ligh header//////////////

.light {

  .navbar-brand {
  }

  .navbar {
    .navbar-toggler {
      .navbar-toggler-icon {
        background: url("../images/Hamburger_white.svg");
      }
    }

    .navbar-nav {

      &:nth-child(2) {

        li {
          &:hover, &:active {
            border-bottom: 3px #FFFFFF solid;

          }
        }
      }


      &:nth-child(1) {
        .nav-item.active {
          &:hover, &:active {
            background-color: #F0145A;
            border-radius: 8px;
          }
        }

        .nav-item {

          .iconify {
            color: #FFFFFF;

            &:hover, &:active {
              color: #F0145A;
            }
          }

          .number {
            color: #FFFFFF;

            &:hover, &:active {
              color: #F0145A;
            }

          }

          .top {
            padding: 5px 7px;
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;
            color: #FFFFFF;
            transition: 0s;

            &:hover {
              background: rgba(255, 255, 255, 0.2);
              border-radius: 8px;
              color: #FFFFFF;
            }
          }
        }
      }


      &:nth-child(1) {

        li {
          &:nth-child(5) {
            color: #FFFFFF;
          }
        }

      }


      .nav-link {
        color: #FFFFFF;

        &:hover, &:active, &:visited {
          color: #FFFFFF;
        }

      }

      a {
        color: #FFFFFF;
        transition: 0.2s;
      }


    }
  }
}

.footer {

  .first_div {
    margin-bottom: 20px;

    align-items: center;

    a {

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #24A3FF;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.2s;

      &:hover, &:active {
        color: #F0145A
      }
    }
  }

  padding: 30px 30px;

  span {
    margin: 0;
    display: inline-block;

    &:after {
      content: "";
      display: inline-block;
      position: relative;
      top: -2px;
      right: 6px;
      width: 6px;
      height: 6px;
      border-radius: 10px;
      margin-left: 15px;
      background-color: #B3B3BA;
      pointer-events: none;

    }
  }

  .second_div {
    display: flex;
    align-items: center;

    .footer_number {
      @extend .number;
      color: #46466E;

      &:after, &:before {
        content: "";
        display: inline-block;
        position: relative;
        top: -2px;
        right: 6px;
        width: 6px;
        height: 6px;
        border-radius: 10px;
        margin-left: 15px;
        background-color: #B3B3BA;
        pointer-events: none;

      }
    }

    a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #24A3FF;
      text-decoration: none;
      transition: 0.2s;


      &:hover, &:active {
        color: #F0145A
      }

      .iconify {
        width: 38px;
        height: 38px;
      }
    }

  }

  .container {
    div {
      &:nth-child(3) {

        p {
          color: #B3B3BA;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

}
.Teamm_Page {
  padding: 252px 0 60px;
  font-family: 'Montserrat';

  div {
    .margin_team{
      margin-bottom: 60px;
    }
    img {
      margin-bottom: 15px;

    }

    &:nth-child(1) {
      h1 {
        font-weight: 700;
        font-style: normal;
        font-size: 38px;
        line-height: 46px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 60px;
        max-width: 1080px;
      }
    }

    &:nth-child(2) {

      .button {
        width: 32px;
        height: 32px;
        background-color: #F5F5FA;
        border-radius: 50%;
        display: flex;

      }
      //
      //margin-bottom: 60px;

      h4 {
        font-weight: 700;
        Font-size: 16px;
        color: #323264;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }



      .arrow-right {


        &:hover {
          path {
            transition: 0.2s;
            stroke: #F0145A;
          }
        }
      }
      .arrow-right, path {
        transition: 0.2s;
      }


      span {
        color: #B3B3BA;
        Font-size: 14px;
        Line-height: 22px;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .header {
    .second_logo {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      .number {
        &:before {
          content: "";
          display: inline-block;
          position: relative;
          top: -2px;
          right: 6px;
          width: 6px;
          height: 6px;
          border-radius: 10px;
          margin-left: 15px;
          background-color: #E6E6F0;
          pointer-events: none;

        }
      }

      .color_Kyiv {
        &:before {
          content: "";
          display: inline-block;
          position: relative;
          top: -2px;
          right: 6px;
          width: 6px;
          height: 6px;
          border-radius: 10px;
          margin-left: 15px;
          background-color: #E6E6F0;
          pointer-events: none;

        }
      }
    }

    .navbar {
      .navbar-nav {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          li {
            &:hover, &:active {
              border-bottom: none;
            }

            margin-right: 15px;
          }

          margin-top: 30px;
          order: 3;
          flex-direction: row;
        }
      }


      //.show {
      //  display: inline;
      //}

      .navbar-toggler {
        //display: none;
      }
    }
  }
  .footer {
    .container {
      .respon {
        flex-direction: column;
        align-items: center;
        display: flex;
        margin: 0;
      }

      .first_div {

        text-align: center;

        span {
          display: inline-block;

        }
      }

      .second_div {
        margin-bottom: 30px;

      }

      div {
        &:nth-child(3) {
          p {
            justify-content: center;

          }
        }
      }
    }

  }
}

@media only screen and (max-width: 768px) {
  .header {
    .second_logo {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      .number {
        &:before {
          content: "";
          display: inline-block;
          position: relative;
          top: -2px;
          right: 6px;
          width: 6px;
          height: 6px;
          border-radius: 10px;
          margin-left: 15px;
          background-color: #E6E6F0;
          pointer-events: none;

        }
      }

      .color_Kyiv {
        &:before {
          content: "";
          display: inline-block;
          position: relative;
          top: -2px;
          right: 6px;
          width: 6px;
          height: 6px;
          border-radius: 10px;
          margin-left: 15px;
          background-color: #E6E6F0;
          pointer-events: none;

        }
      }
    }

    .navbar {
      flex-wrap: wrap;

      .navbar-nav {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          li {
            margin-right: 15px;
          }

          margin-top: 30px;
          order: 3;
          flex-direction: row;
        }
      }


      //.show {
      //  display: inline;
      //}

      .navbar-toggler {
        //display: none;
      }
    }
  }
  .footer {
    .container {
      .respon {
        flex-direction: column;
        align-items: center;
        display: flex;
        margin: 0;
      }

      .first_div {

        text-align: center;

        span {
          display: inline-block;

        }
      }

      .second_div {
        margin-bottom: 30px;

      }

      div {
        &:nth-child(3) {
          p {
            justify-content: center;

          }
        }
      }
    }

  }
}

@media only screen and (max-width: 576px) {
  .header {
    position: inherit;

    .show {
      transition: 0.2s;
      background-color: #FFFFFF;
      border-radius: 12px 12px 0px 0px;
      margin-top: 35px;
      margin-bottom: 50px;

      .navbar-nav {

        li {
          border-bottom: none;
          margin-bottom: 15px;
          background: #F5F5FA;
          width: 100%;
          border-radius: 12px;

          &:hover, &:active {

            border-bottom: 0;
            background-color: rgb(230, 230, 240);
          }

        }
      }
    }

    .second_logo {
      display: inline;
      //background: rgba(245, 245, 250, 0.2);
      background-size: cover;
      width: 100%;

      .number {
        &:before {
          display: none;
        }
      }

      &:nth-child(1) {
        justify-content: space-between;
        display: flex;

        .aa {
          display: none;
        }

        li {
          &:nth-child(3) {
            margin-right: 15px;

            &:before {
              display: none;
            }
          }

          &:nth-child(4) {
            display: none;
          }
        }

        order: 1;
        flex-direction: row;
        margin-bottom: 0px;
      }
    }

    padding: 0;

    .navbar {
      .navbar-nav {

        &:nth-child(2) {
          .nav-item.active {
            border-bottom: none;

            &:hover, &:active {
              border-bottom: none;
            }
          }

          a {
            font-size: 24px;
            line-height: 29px;
            text-align: center;
          }

          align-items: center;

          li {
            margin-right: 0;

          }

          margin-top: 0;
          flex-direction: column;
        }
      }

      //
      //.show {
      //  display: inline;
      //}

      .navbar-toggler {
        //display: inline;
        border: none;
        padding: 7px;
        transition: 0.2s;

        &:focus {
          box-shadow: none;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 8px;
        }


      }
    }
  }
  .light {
    background: #323264;

    .show {
      background: linear-gradient(547deg, #323271 34.93%, #323261 93.17%, #643E74 118.46%);

      .navbar-nav {
        li {
          background: rgba(245, 245, 250, 0.2);

          &:hover, &:active {
            border-bottom: 0;
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }

  .footer {
    .container {
      .img_dot {
        display: none;
      }

      .first_div {
        flex-direction: column;
        text-align: center;

        span {
          display: block;
          margin-bottom: 10px;

          &:after {
            content: "";
            display: none;
          }
        }
      }
    }

    .second_div {
      flex-direction: column;

      .footer_number {
        &:after, &:before {
          content: "";
          display: none;
        }
      }

      svg {
        margin-bottom: 10px;
      }

      .number {
        margin-bottom: 10px;
      }

    }

    div {
      &:nth-child(3) {
        p {
          justify-content: center;

        }

      }
    }
  }
  .Teamm_Page{
    padding: 60px 0 60px;
    .margin_team_two{
      margin-bottom: 30px;
    }
    div{
      .margin_team{
        margin-bottom: 30px;
      }

    }
  }
}


