@import "owl-carousel/owl.carousel.min.css";
@import "owl-carousel/owl.theme.default.min.css";

$main_color: #323264;
$alt_color: #46466E;
$soft_color: #686887;
$regular_color: #24A3FF;
$hover_color: #0085FF;
$active_color: #0085FF;
$accent_color: #F0145A;
$text_color: #B3B3BA;
$main_font: 'Montserrat', sans-serif;
$fw_regular: 400;
$fw_bold: 700;


@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


/* Publication Entry Page */
.penalty {
  padding: 180px 0 30px 0;

  @include max-screen(1024px) {
    padding: 200px 0 30px 0;
  }
  @include max-screen(992px) {
    padding: 250px 0 30px 0;
  }
  @include max-screen(577px) {
    padding: 30px 0 30px 0;
  }

  img {
    height: 500px;
    border-radius: 12px;
    @include max-screen(768px) {
      height: 300px;
    }
  }


  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_bold;
    font-size: 30px;
    line-height: 37px;
    color: $main_color;
    margin: 30px 0 15px 0;
    @media screen and (max-width: 375px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  h3 {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text_color;
    @media screen and (max-width: 375px) {
      font-size: 12px;
      line-height: 15px;
    }

    &:after {
      content: "";
      display: block;
      margin: 30px 0;
      border-bottom: solid 4px #E6E6F0;
    }
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    @media screen and (max-width: 375px) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.advertising {
  padding-bottom: 60px;

  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 30px;
  }

  h3 {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_bold;
    font-size: 22px;
    line-height: 27px;
    color: $main_color;
    margin-bottom: 30px;
  }

  ol {
    li {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_regular;
      font-size: 18px;
      line-height: 26px;
      color: #000000;
      margin-bottom: 15px;

      &::marker {
        font-family: $main_font;
        font-style: normal;
        font-weight: $fw_bold;
        font-size: 18px;
        line-height: 26px;
        color: #F0145A;
      }

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_regular;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 30px;
  }

  .img_block {
    img {
      width: 640px;
      height: 398px;
      @media screen and (max-width: 768px) {
        width: 440px;
        height: 298px;
      }
      @media screen and (max-width: 455px) {
        width: 315px;
        height: 196px;
      }
      @media screen and (max-width: 330px) {
        width: 250px;
        height: 165px;
      }
    }

    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_regular;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #B3B3BA;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $main_color;
    margin-bottom: 15px;
  }

  .social_media {
    &:before {
      content: "";
      display: block;
      margin: 30px 0;
      border-bottom: solid 4px #E6E6F0;
    }

    a {
      margin-right: 10px;
      background: #F5F5FA;
      border-radius: 12px;
      cursor: pointer;
      transition: .2s;

      &:hover {
        background: #EDEDF7;
      }

      img {
        margin: 9px;
        height: 24px;
        width: 24px;
      }
    }
  }
}

.recommended {
  padding: 30px 0 0 0;
  background: #F5F5FA;
  border-radius: 12px 12px 0 0;

  .container-fluid {
    @media screen and (min-width: 1920px) {
      max-width: 1720px;
    }

    .recommended_publications {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_bold;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24A3FF;
      position: relative;
      display: inline-block;
      text-decoration: none;

      i {
        font-size: 10px;
      }

      &:hover {
        color: #F0145A;
        transition: 0.5s;
      }
    }

    h4 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_bold;
      font-size: 30px;
      line-height: 37px;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 30px;
    }

    .row {
      &:after {
      }

      .col-md-4 {
        display: flex;
        flex-direction: column;
        flex-grow: 0;

        @include max-screen(768px) {
          &:last-of-type {
            width: 100%;
            margin-top: 30px;
          }
          &.div:last-child {
            &:last-child {
              height: auto;
            }
          }
        }

        @include max-screen(576px) {
          margin-top: 30px;
          width: 100%;
        }

        @include max-screen(576px) {
          div {
            height: auto;
          }
        }

        img {
          border-radius: 8px 8px 0 0;
        }

        .recommended_content {
          background: #FFFFFF;
          border-radius: 8px;
          padding: 30px;
          height: 100%;

          a {
            font-family: $main_font;
            font-style: normal;
            font-weight: $fw_bold;
            font-size: 16px;
            line-height: 20px;
            color: #24A3FF;
            margin-bottom: 15px;
            position: relative;
            display: inline-block;
            text-decoration: none;

            &:hover {
              color: #F0145A;
              transition: 0.5s;
            }
          }

          span {
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #B3B3BA;
            margin-bottom: 34px;
            position: relative;

            &:after {
              content: "";
              height: 4px;
              width: 100%;
              background: #E6E6F0;
              position: absolute;
              top: 30px;
              left: 0;
            }
          }

          p {
            font-family: $main_font;
            font-style: normal;
            font-weight: $fw_regular;
            font-size: 14px;
            line-height: 22px;
            color: #000000;
          }
        }
      }
    }
  }
}


/* About Page */


.legal_services {
  padding: 180px 0 60px 0;
  @include max-screen(1024px) {
    padding: 200px 0 30px 0;
  }
  @include max-screen(992px) {
    padding: 250px 0 30px 0;
  }
  @include max-screen(577px) {
    padding: 30px 0 30px 0;
  }

  .the_idea {
    padding-right: 15px;

    h2 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_bold;
      font-size: 38px;
      line-height: 46px;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      padding-bottom: 28px;
    }

    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_regular;
      font-size: 19px;
      line-height: 30px;
      color: #000000;
    }
  }

  .our_experience {
    border-left: 4px solid #E6E6F0;
    padding-left: 30px;

    .flag {
      h2 {
        font-family: $main_font;
        font-style: normal;
        font-weight: $fw_bold;
        font-size: 36px;
        line-height: 44px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;

        &:before {
          font-family: "Font Awesome 5 Free";
          content: "\f024";
          font-size: 27px;
          padding-right: 12px;
        }
      }
    }

    .case {
      h2 {
        font-family: $main_font;
        font-style: normal;
        font-weight: $fw_bold;
        font-size: 36px;
        line-height: 44px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;

        &:before {
          font-family: "Font Awesome 5 Free";
          content: "\f0b1";
          font-size: 27px;
          padding-right: 12px;
        }
      }
    }

    .star {
      h2 {
        font-family: $main_font;
        font-style: normal;
        font-weight: $fw_bold;
        font-size: 36px;
        line-height: 44px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;

        &:before {
          font-family: "Font Awesome 5 Free";
          content: "\f5a2";
          font-size: 27px;
          padding-right: 12px;
        }
      }
    }

    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_regular;
      font-size: 16px;
      line-height: 20px;
      color: #323264;
      margin-bottom: 40px;
    }
  }
}

.team_section {
  padding: 163px 0 158px 0;
  background-image: url("../images/section_team.jpg");
  background-size: cover;
  @include max-screen(376px) {
    padding: 35px 0 35px 0;
    background-image: url("../images/section_team_375.jpg");
  }
  @include max-screen(769px) {
    padding: 89px 0 89px 0;
    background-image: url("../images/section_team_768.jpg");
  }
  @include max-screen(1025px) {
    padding: 103px 0 103px 0;
    background-image: url("../images/section_team_1024.jpg");
  }

  h1 {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_bold;
    font-size: 96px;
    line-height: 117px;
    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include max-screen(376px) {
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 13px;
    }
    @include max-screen(769px) {
      font-size: 46px;
      line-height: 56px;
      letter-spacing: 63px;
    }
    @include max-screen(1025px) {
      font-size: 86px;
      line-height: 105px;
      letter-spacing: 63px;
    }
  }
}

.about_quality {
  padding: 60px 0 60px 0;

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_regular;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
  }

  h3 {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_bold;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.achievements {
  padding: 30px 0 30px 0;
  background-color: #F5F5FA;

  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    margin-bottom: 30px;
  }

  .owl-carousel {
    display: block;

    .row {
      flex-wrap: nowrap;
    }

    .owl-dots {
      position: absolute;
      left: 47%;
      @include max-screen(767px) {
        left: 43%;
      }

      span {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $regular_color;
        opacity: 20%;
        margin-right: 15px;
      }

      .owl-dot.active {
        span {
          opacity: 100%;
        }
      }
    }
  }
}

/* Publication Page */

.publication_page {
  padding: 176px 0 0 0;
  @include max-screen(1024px) {
    padding: 200px 0 0 0;
  }
  @include max-screen(992px) {
    padding: 250px 0 0 0;
  }
  @include max-screen(577px) {
    padding: 30px 0 0 0;
  }

  .publication_bg {
    background: #F5F5FA;
    border-radius: 12px 12px 0 0;

    .container {
      @media screen and (min-width: 1920px) {
        max-width: 1720px;
      }

      .publication_btn {
        input[type=checkbox] {
          height: 0;
          width: 0;
          visibility: hidden;
        }

        label {
          cursor: pointer;
          width: auto;
          height: 42px;
          background: #E6E6F0;
          display: block;
          border-radius: 12px;
          position: relative;
          padding: 0 10px;
          font-family: $main_font;
          font-style: normal;
          font-weight: $fw_bold;
          font-size: 16px;
          line-height: 20px;

          span {
            position: relative;
            top: 11px;
            margin: 0 24px;
          }

          &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 50%;
            height: 38px;
            background: #fff;
            border-radius: 12px;
            transition: 0.3s;
            z-index: 0;
          }

          &:active:before {
            width: 130px;
          }
        }

        input:checked + label {
          background: #E6E6F0;
        }

        input:checked + label:before {
          left: calc(100% - 5px);
          transform: translateX(-100%);
        }
      }

      .more_publications {
        .btn {
          padding: 18px 30px;
          display: inline-block;
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          background: #24A3FF;
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          //box-shadow: 0 0 20px rgb(36 163 255 / 50%);
          border: 0;
          border-radius: 12px;

          &:hover {
            background: #F0145A;
            transition: background 0.3s ease;
          }
        }
      }

      .row {
        &:after {
        }

        .col-md-4 {
          display: flex;
          flex-direction: column;
          flex-grow: 0;

          @include max-screen(768px) {
            &:last-of-type {
              width: 100%;
              margin-top: 30px;
            }
            &.div:last-child {
              &:last-child {
                height: auto;
              }
            }
          }

          @include max-screen(576px) {
            margin-top: 30px;
            width: 100%;
          }

          @include max-screen(576px) {
            div {
              height: auto;
            }
          }

          img {
            border-radius: 8px 8px 0 0;
          }

          .recommended_content {
            background: #FFFFFF;
            border-radius: 8px;
            padding: 30px;
            height: 100%;

            a {
              font-family: $main_font;
              font-style: normal;
              font-weight: $fw_bold;
              font-size: 16px;
              line-height: 20px;
              color: #24A3FF;
              margin-bottom: 15px;
              position: relative;
              display: inline-block;
              text-decoration: none;

              &:hover {
                color: #F0145A;
                transition: 0.5s;
              }
            }

            span {
              display: block;
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: #B3B3BA;
              margin-bottom: 34px;
              position: relative;

              &:after {
                content: "";
                height: 4px;
                width: 100%;
                background: #E6E6F0;
                position: absolute;
                top: 30px;
                left: 0;
              }
            }

            p {
              font-family: $main_font;
              font-style: normal;
              font-weight: $fw_regular;
              font-size: 14px;
              line-height: 22px;
              color: #000000;
            }
          }
        }
      }
    }
  }
}


/* contact_form */

.contact_section {
  padding: 176px 0 60px 0;
  @include max-screen(1024px) {
    padding: 200px 0 0 0;
  }
  @include max-screen(992px) {
    padding: 250px 0 0 0;
  }
  @include max-screen(577px) {
    padding: 30px 0 30px 0;
  }

  .city {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_regular;
    font-size: 21px;
    line-height: 30px;
    color: #323264;
    &:after {
      content: "";
      display: block;
      margin: 30px 0;
      border-bottom: solid 4px #E6E6F0;
    }
  }

  .contact_number {
    font-family: $main_font;
    font-style: normal;
    font-weight: $fw_regular;
    font-size: 21px;
    line-height: 30px;
    color: #46466E;
    margin-bottom: 15px;
  }

  .footer_mail {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #24A3FF;
    transition: linear .3s;
    &:hover {
      color: #F0145A;
    }
    &:after {
      content: "";
      display: block;
      margin: 30px 0;
      border-bottom: solid 4px #E6E6F0;
    }
  }

  .contact_fb {
    transition: linear .3s;
    a {
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24A3FF;
      i {
        font-size: 38px;
        margin-right: 10px;
      }
      &:hover {
        color: #F0145A;
      }
    }
  }


  .contact_form {
    background: #F5F5FA;
    border-radius: 12px;
    padding: 30px;
    h5 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_bold;
      font-size: 30px;
      line-height: 37px;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 30px;
    }
    form {
      label {
        display: none;
      }

      input, textarea {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: $fw_regular;
        font-size: 16px;
        line-height: 26px;
        color: #B3B3BA;
        margin-bottom: 15px;
      }
    }
    h6 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $fw_bold;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #B3B3BA;
      margin: 30px 0 15px 0;
    }
  }
  .send_message {
    .btn {
      padding: 18px 163px;
      box-sizing: border-box;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      background: #24A3FF;
      box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
      //box-shadow: 0 0 20px rgb(36 163 255 / 50%);
      border: 0;
      border-radius: 12px;

      &:hover {
        background: #F0145A;
        transition: background 0.3s ease;
      }
    }
  }
}

/* Header/Footer */
header {
  &.header_public {
    .navbar {
      .navbar-brand {
        img {
          @include max-screen(576px) {
            height: 57px;
            width: 215px;
          }
        }
      }

      .navbar-nav {
        &.navbar-public {
          .nav-public {
            &:hover, {
              border-bottom: 3px #F0145A solid;
            }
          }

          .nav-link {
            &.link_public {
              color: #F0145A;
            }
          }
        }
      }

      .navbar-toggler {
        .navbar-toggler-icon {
          background-image: url("../images/Hamburger.svg");
        }
      }
    }
  }
}

footer {
  &.footer_public {
    background: #F5F5FA;
  }
}






