$main_font:'Montserrat', sans-serif;
$font_weight_bold:700;
$font_weight_light:400;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.m_r{
  margin-right: 30px;
  margin-top: 60px;
}
.font_style{
  font-family: $main_font;
  font-style: normal;
  font-weight: $font_weight_bold;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 60px;
}
.p_r{
  padding-right: 10px;
}
.font_grey{
  font-family: $main_font;
  font-style: normal;
  font-weight: $font_weight_light;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}
.font_blue{
  font-family: $main_font;
  font-style: normal;
  font-weight: $font_weight_light;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.t_decoration{
  text-decoration: none;
  &:hover{
    color: yellow;
    transition: 0.5s;
  }
}
.separator{
  margin-top: 30px;
  margin-bottom: 30px;
}
.paragraph{
  font-family: $main_font;
  font-style: normal;
  font-weight: $font_weight_light;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.head{
  font-family: $main_font;
  font-style: normal;
  font-weight: $font_weight_bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.m_t_b{
  margin-top: 30px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
.kobzar_img{
  max-width: 300px;
  margin-left: -30px;
}
  .font_style{
    margin-left: -5px;
  }
  .d-flex{
    display: flex;
    flex-direction: column;
  }
  .dot{
    display: none;
  }
  .p_b{
    padding-bottom: 10px;
  }
  .size{
    max-width: 544px;
  }
  br {
    display: none;
  }
  }
@media screen and (max-width: 768px){
  .kobzar_img{
    margin-left: -60px;
  }
  .paragraph
}