$main_font:'Montserrat', sans-serif;
$font_weight_bold:700;
$font_weight_light:400;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
.m_r{
  margin-right: 30px;
}
.font_style{
  font-family: $main_font;
  font-style: normal;
  font-weight: $font_weight_bold;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 30px;
}