
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'max-screen'.\A         on line 171 of Nik12623.scss, in `max-screen'\A         from line 171 of Nik12623.scss\A \A 166:     .col-md-4{\A 167:       display: flex;\A 168:       flex-direction: column;\A 169:       flex-grow: 0;\A 170: \A 171:       @include max-screen(768px){\A 172:         &:last-of-type{\A 173:           width: 100%;\A 174:           margin-top: 30px;\A 175:         }\A 176:         &.div:last-child{"; }
