.commerce{
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  .row {
    &.commerce_top {
      padding: 65px 0 60px 0;
      &:after{
        content: "";
        height: 4px;
        width: 100%;
        max-width: 1360px;
        background: rgba(255, 255, 255, 0.5);
        position: relative;
        top: 60px;
      }
      .col-12 {
        .image {
          width: 92px;
          height: 92px;
        }
        h3 {
          margin: 28px 0;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 38px;
          line-height: 46px;
          color: #F0145A;
        }
        p {
          margin-bottom: 28px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          line-height: 30px;
          color: #FFFFFF;
        }

        a {
          padding: 18px 30px;
          display: inline-block;
          text-decoration: none;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          background: #24A3FF;
          box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
          border: 0;
          border-radius: 12px;
          &:hover{
            background: #F0145A;
            transition: background 0.3s ease;
          }
        }
      }
    }
    &.commerce_bottom{
      padding: 30px 0 60px 0;
      h4{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 30px;
      }
      ul{
        list-style-type: none;
        padding-left: 16px;
        &:first-of-type{
          padding: 0 37px 0 15px;
        }
        &:last-of-type{
          padding: 0 15px 0 37px;
        }
        li{
          font-family: 'Montserrat',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #FFFFFF;
          position: relative;
          &:before{
            display: inline-block;
            background-color: #F0145A;
            content: "";
            height: 6px;
            width: 6px;
            border-radius: 50%;
            position: absolute;
            left: -16px;
            top: 10px;
          }
        }
      }
    }
  }
}

.shadow_img{
  margin-bottom: 80px;
}

.publications{
  padding: 90px 0 30px 0;
  background: #F5F5FA;
  border-radius: 12px 12px 0 0;
  a{
    padding: 0;
    width: fit-content;
    display: inline-block;
    text-decoration: none;
    color: #24A3FF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    i{
      margin-left: 6px;
    }
    &:after{
      content: "";
      display: block;
      opacity: 0;
      width: 100%;
      height: 2px;
      background-color: #24A3FF;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      transition: opacity 0.2s linear;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 30px;
    color: #F0145A;
  }
  .row{
    position: relative;

    &:after{
      content: "";
      height: 2px;
      width: 100%;
      background: #E6E6F0;
      position: absolute;
      bottom: -30px;
      left: 0;
    }

    .col-md-4{
      display: flex;
      flex-direction: column;
      flex-grow: 0;

      @include max-screen(768px){
        &:last-of-type{
          width: 100%;
          margin-top: 30px;
        }
        &.div:last-child{
            &:last-child{
              height: auto;
          }
        }
      }

      @include max-screen(576px){
        margin-top: 30px;
        width: 100%;
      }

      @include max-screen(576px){
        div{
          height: auto;
        }
      }

      img{
        border-radius: 8px 8px 0 0;
      }

      div{
        background: #FFFFFF;
        padding: 30px;
        height: 100%;
        border-radius: 0 0 8px 8px;
        a{
          letter-spacing: unset;
          text-transform: unset;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #24A3FF;
          margin-bottom: 15px;
          margin-left: 0;
        }
        span{
          display: block;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #B3B3BA;
          margin-bottom: 34px;
          position: relative;
          &:after{
            content: "";
            height: 4px;
            width: 100%;
            background: #E6E6F0;
            position: absolute;
            top: 30px;
            left: 0;
          }
        }
        p{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
  }
}

header{
  &.header_commerce{
    background: #323264 57.17%;
    .navbar-light{
      .navbar-brand{
        width: 318px;
        height: 60px;
        background-image: url("../images/dark_logo.svg") ;
        background-repeat:no-repeat;
      }
      ul{
        &:nth-child(2){
          li{
            &:hover, &:active{
              border-bottom: none;
              transition: none;
            }
          }
        }
      }
      .navbar-nav{
        .nav-item{
          color: #ffffff;
          .nav-link {
            position: relative;
            color: #FFFFFF;
            padding: 0;
            margin: 8px 8px;
            &.act{
              color: #F0145A;
              &:after{
                background-color: #F0145A;
              }
            }
            &:after{
              content: "";
              display: block;
              opacity: 0;
              width: 100%;
              height: 2px;
              background-color: #FFFFFF;
              position: absolute;
              left: 0;
              top: 100%;
              z-index: 1;
              transition: opacity 0.2s linear;
            }
            &:hover:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

footer{
  &.footer_commerce{
    background: #F5F5FA;
  }
}
