$main_font:'Montserrat', sans-serif;
$font_weight_bold:700;
$font_weight_light:400;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
a{
  text-decoration: none; display: inline-block;
}
img{
  display: block;
}
header {
  .navbar-light {
    .navbar-nav {
      .nav-item {
        transition: 0.3s;
        margin-left: 32px;

        .nav-link {
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #1B1A1A;
          padding: 0;
        }

        &:hover {
          .nav-link {
            color: gray;
            transition: 0.5s;
          }
        }

        &:last-of-type {
          background: #1B1A1A;
          border-radius: 14px;
          padding: 11px 20px;
          &:hover {
            .nav-link {
              color: gray;
              transition: 0.5s;
            }
          }

          .nav-link {
            font-size: 1rem;
            color: white;
          }
        }
      }
    }
  }
}
.services{
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 7px 7px;
  padding: 176px 0 0;
  .container{
    .row{
        div {
          &:first-of-type {
            font-family: $main_font;
            font-style: normal;
            font-weight: $font_weight_bold;
            font-size: 38px;
            line-height: 46px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 60px;
          }
        }
      div{
        &.d-block{

        }
        &.col-12.col-md-6{
          max-width: 493px;
          margin-bottom: 60px;
          @media screen and (max-width: 1024px) {

          }
          img{
            margin-bottom: 30px;
          }
          a{
            cursor: pointer;
            font-family: $main_font;
            font-style: normal;
            font-weight: $font_weight_bold;
            font-size: 22px;
            line-height: 27px;
            color: #24A3FF;
            margin-bottom: 15px;
            &:hover{
              color: #F0145A;
              transition: 0.5s;
            }
          }
          p{
            font-family: $main_font;
            font-style: normal;
            font-weight: $font_weight_light;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.companies{
  padding: 60px 0;
  .container-xxl {
    .row {
      .col-12{
        &:first-of-type{
          text-align: center;
          margin-bottom: 30px;
        }

        h5{
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight_bold;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #323264;
        }
      }
      .col-12.col-md-4{
        height: 120px;
        display: flex;
        a{
          margin: auto;
        }
        &:nth-child(2){
          background: #1C4280;
          border-radius: 10px 0 0 0;
          @media screen and (max-width: 1440px) {
            border-radius: 0 0 0 0;
          }
        }
        &:nth-child(3){
          background: #143646;
        }
        &:nth-child(4){
          background: linear-gradient(0deg, #F48B30, #F48B30),
          linear-gradient(0deg, #F48B30, #F48B30);
        }
        &:nth-child(5){
          background: #9E4DC3;
          border-radius: 0 10px 0 0;
          @media screen and (max-width: 1440px) {
            border-radius: 0 0 0 0;
          }
        }
        &:nth-child(6){
          background: #FD9339;

        }
        &:nth-child(7){
          background: #E2E2E4;

        }
        &:nth-child(8){
          background: #C71C36;

        }
        &:nth-child(9){
          background: #DCF3F9;

        }
        &:nth-child(10){
          background: #EAEAEA;
          border-radius: 0 0 0 10px;
          @media screen and (max-width: 1440px) {
            border-radius: 0 0 0 0;
          }

        }
        &:nth-child(11){
          background: #282240;

        }
        &:nth-child(12){
          background: #1D4568;

        }
        &:nth-child(13){
          background: #000000;
          border-radius: 0 0 10px 0;
          @media screen and (max-width: 1440px) {
            border-radius: 0 0 0 0;
          }
        }
      }
    }
  }
}
