/*Dark header*/
.header {
  width: 100%;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif; }
  .header .navbar-brand {
    width: 318px;
    height: 60px;
    background-image: url("../images/Logo_about.svg");
    background-repeat: no-repeat; }
  .header .number, .header .footer .second_div .footer_number, .footer .second_div .header .footer_number {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #B3B3BA; }
    .header .number:hover, .header .footer .second_div .footer_number:hover, .footer .second_div .header .footer_number:hover {
      color: #F0145A; }
  .header .iconify {
    width: 24px;
    height: 24px;
    color: #B3B3BA; }
    .header .iconify:hover, .header .iconify:active {
      color: #F0145A; }
  .header ul:nth-child(2) li:hover, .header ul:nth-child(2) li:active {
    border-bottom: 3px #24A3FF solid;
    transition: 0.2s; }
  .header .navbar-nav .nav-item.active:hover, .header .navbar-nav .nav-item.active:active {
    border-color: #F0145A; }
  .header .navbar-nav .nav-item.active .nav-link {
    color: #F0145A; }
  .header .navbar-nav .nav-link {
    color: #24A3FF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px; }
    .header .navbar-nav .nav-link:hover {
      color: #24A3FF; }
  .header ul:nth-child(1) li a {
    color: #B3B3BA; }
  .header ul:nth-child(1) .nav-item.active .nav-link {
    padding: 5px 7px;
    background-color: #F0145A;
    border-radius: 8px;
    color: #FFFFFF; }
  .header ul:nth-child(1) .active {
    background-color: #F0145A;
    border-radius: 8px; }
    .header ul:nth-child(1) .active a {
      color: #FFFFFF; }
      .header ul:nth-child(1) .active a:hover {
        background-color: #F0145A;
        border-radius: 8px; }
  .header ul:nth-child(1) .top {
    padding: 5px 7px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #B3B3BA; }
    .header ul:nth-child(1) .top:hover {
      background-color: #F5F5FA;
      border-radius: 8px; }

.white .navbar-brand {
  width: 318px;
  height: 60px;
  background-image: url("../images/Logo-1.png");
  background-repeat: no-repeat; }
.white .navbar-nav .top {
  color: #FFFFFF; }
.white .navbar-nav ul:nth-child(2) li:hover, .white .navbar-nav ul:nth-child(2) li:active {
  border-bottom: 3px #FFFFFF solid;
  transition: 0.2s; }
.white .navbar-nav ul li:hover {
  border-bottom: 3px #FFFFFF solid; }
.white .navbar-nav ul:nth-child(1) li:nth-child(5) {
  color: #FFFFFF; }
.white .navbar-nav .nav-link {
  color: #FFFFFF; }
  .white .navbar-nav .nav-link:hover, .white .navbar-nav .nav-link:active, .white .navbar-nav .nav-link:visited {
    color: #FFFFFF; }
.white .navbar-nav .number, .white .navbar-nav .footer .second_div .footer_number, .footer .second_div .white .navbar-nav .footer_number {
  color: #FFFFFF; }
.white .navbar-nav a {
  color: #FFFFFF; }

.img_dot {
  margin: 0 10px 0 10px;
  display: inline-block; }

.footer {
  padding: 30px 30px; }
  .footer .first_div {
    margin-bottom: 20px;
    display: flex;
    align-items: center; }
    .footer .first_div a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #24A3FF;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.2s; }
      .footer .first_div a:hover, .footer .first_div a:active {
        color: #F0145A; }
  .footer p {
    margin: 0;
    display: inline-block; }
  .footer .second_div {
    display: flex;
    align-items: center; }
    .footer .second_div .footer_number {
      color: #46466E; }
    .footer .second_div a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #24A3FF;
      text-decoration: none;
      transition: 0.2s; }
      .footer .second_div a:hover, .footer .second_div a:active {
        color: #F0145A; }
      .footer .second_div a .iconify {
        width: 38px;
        height: 38px; }
  .footer .container div:nth-child(3) p {
    color: #B3B3BA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end; }

@media only screen and (max-width: 768px) {
  .footer .container .respon {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 0; }
  .footer .container .first_div {
    text-align: center; }
    .footer .container .first_div p {
      display: inline-block; }
  .footer .container .second_div {
    margin-bottom: 30px; }
  .footer .container div:nth-child(3) p {
    justify-content: center; } }
@media only screen and (max-width: 576px) {
  .footer .container .img_dot {
    display: none; }
  .footer .container .first_div {
    flex-direction: column;
    text-align: center; }
    .footer .container .first_div p {
      display: block;
      margin-bottom: 10px; }
  .footer .container .second_div {
    flex-direction: column; }
    .footer .container .second_div svg {
      margin-bottom: 10px; }
    .footer .container .second_div .number, .footer .container .second_div .footer_number {
      margin-bottom: 10px; }
  .footer .container div:nth-child(3) p {
    justify-content: center; } }
a {
  text-decoration: none;
  display: inline-block; }

img {
  display: block; }

/*header {
  .navbar-light {
    .navbar-nav {
      .nav-item {
        transition: 0.3s;
        margin-left: 32px;

        .nav-link {
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #1B1A1A;
          padding: 0;
        }

        &:hover {
          .nav-link {
            color: gray;
            transition: 0.5s;
          }
        }

        &:last-of-type {
          background: #1B1A1A;
          border-radius: 14px;
          padding: 11px 20px;
          &:hover {
            .nav-link {
              color: gray;
              transition: 0.5s;
            }
          }

          .nav-link {
            font-size: 1rem;
            color: white;
          }
        }
      }
    }
  }
}*/
header {
  padding-top: 50px; }
  header.white {
    background: linear-gradient(547deg, #323271 34.93%, #323261 93.17%, #643E74 118.46%); }
    header.white ul:nth-child(1) .top {
      color: white; }
    header.white ul:nth-child(1) li:nth-child(5) {
      color: white; }
  @media screen and (max-width: 400px) {
    header .navbar-brand {
      max-width: 200px; } }

.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 7px 7px;
  padding: 65px 0 0; }
  .services .container .row div:first-of-type {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px; }
  .services .container .row div.col-12.col-md-6 {
    max-width: 493px;
    margin-bottom: 60px; }
    .services .container .row div.col-12.col-md-6 img {
      margin-bottom: 30px; }
    .services .container .row div.col-12.col-md-6 a {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      color: #24A3FF;
      margin-bottom: 15px; }
      .services .container .row div.col-12.col-md-6 a:hover {
        color: #F0145A;
        transition: 0.5s; }
    .services .container .row div.col-12.col-md-6 p {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
      margin-bottom: 0; }

.companies {
  padding: 60px 0; }
  .companies .container-xxl .row .col-12:first-of-type {
    text-align: center;
    margin-bottom: 30px; }
  .companies .container-xxl .row .col-12 h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264; }
  .companies .container-xxl .row .col-12.col-md-4 {
    height: 120px;
    display: flex; }
    .companies .container-xxl .row .col-12.col-md-4 a {
      margin: auto; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(2) {
      background: #1C4280;
      border-radius: 10px 0 0 0; }
      @media screen and (max-width: 1440px) {
        .companies .container-xxl .row .col-12.col-md-4:nth-child(2) {
          border-radius: 0 0 0 0; } }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(3) {
      background: #143646; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(4) {
      background: linear-gradient(0deg, #F48B30, #F48B30), linear-gradient(0deg, #F48B30, #F48B30); }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(5) {
      background: #9E4DC3;
      border-radius: 0 10px 0 0; }
      @media screen and (max-width: 1440px) {
        .companies .container-xxl .row .col-12.col-md-4:nth-child(5) {
          border-radius: 0 0 0 0; } }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(6) {
      background: #FD9339; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(7) {
      background: #E2E2E4; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(8) {
      background: #C71C36; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(9) {
      background: #DCF3F9; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(10) {
      background: #EAEAEA;
      border-radius: 0 0 0 10px; }
      @media screen and (max-width: 1440px) {
        .companies .container-xxl .row .col-12.col-md-4:nth-child(10) {
          border-radius: 0 0 0 0; } }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(11) {
      background: #282240; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(12) {
      background: #1D4568; }
    .companies .container-xxl .row .col-12.col-md-4:nth-child(13) {
      background: #000000;
      border-radius: 0 0 10px 0; }
      @media screen and (max-width: 1440px) {
        .companies .container-xxl .row .col-12.col-md-4:nth-child(13) {
          border-radius: 0 0 0 0; } }

.commerce {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px; }
  .commerce .row.commerce_top {
    padding: 65px 0 60px 0; }
    .commerce .row.commerce_top:after {
      content: "";
      height: 4px;
      width: 100%;
      max-width: 1360px;
      background: rgba(255, 255, 255, 0.5);
      position: relative;
      top: 60px; }
    .commerce .row.commerce_top .col-12 .image {
      width: 92px;
      height: 92px; }
    .commerce .row.commerce_top .col-12 h3 {
      margin: 28px 0;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
      color: #F0145A; }
    .commerce .row.commerce_top .col-12 p {
      margin-bottom: 28px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 30px;
      color: #FFFFFF; }
    .commerce .row.commerce_top .col-12 a {
      padding: 18px 30px;
      display: inline-block;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      background: #24A3FF;
      box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
      border: 0;
      border-radius: 12px; }
      .commerce .row.commerce_top .col-12 a:hover {
        background: #F0145A;
        transition: background 0.3s ease; }
  .commerce .row.commerce_bottom {
    padding: 30px 0 60px 0; }
    .commerce .row.commerce_bottom h4 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      color: #FFFFFF;
      margin-bottom: 30px; }
    .commerce .row.commerce_bottom ul {
      list-style-type: none;
      padding-left: 16px; }
      .commerce .row.commerce_bottom ul:first-of-type {
        padding: 0 37px 0 15px; }
      .commerce .row.commerce_bottom ul:last-of-type {
        padding: 0 15px 0 37px; }
      .commerce .row.commerce_bottom ul li {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        position: relative; }
        .commerce .row.commerce_bottom ul li:before {
          display: inline-block;
          background-color: #F0145A;
          content: "";
          height: 6px;
          width: 6px;
          border-radius: 50%;
          position: absolute;
          left: -16px;
          top: 10px; }

.shadow_img {
  margin-bottom: 80px; }

.publications {
  padding: 90px 0 30px 0;
  background: #F5F5FA;
  border-radius: 12px 12px 0 0; }
  .publications a {
    padding: 0;
    width: fit-content;
    display: inline-block;
    text-decoration: none;
    color: #24A3FF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative; }
    .publications a i {
      margin-left: 6px; }
    .publications a:after {
      content: "";
      display: block;
      opacity: 0;
      width: 100%;
      height: 2px;
      background-color: #24A3FF;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      transition: opacity 0.2s linear; }
    .publications a:hover:after {
      opacity: 1; }
  .publications h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 30px;
    color: #F0145A; }
  .publications .row {
    position: relative; }
    .publications .row:after {
      content: "";
      height: 2px;
      width: 100%;
      background: #E6E6F0;
      position: absolute;
      bottom: -30px;
      left: 0; }
    .publications .row .col-md-4 {
      display: flex;
      flex-direction: column;
      flex-grow: 0; }
      @media screen and (max-width: 768px) {
        .publications .row .col-md-4:last-of-type {
          width: 100%;
          margin-top: 30px; }
        .publications .row .col-md-4.div:last-child:last-child {
          height: auto; } }
      @media screen and (max-width: 576px) {
        .publications .row .col-md-4 {
          margin-top: 30px;
          width: 100%; } }
      @media screen and (max-width: 576px) {
        .publications .row .col-md-4 div {
          height: auto; } }
      .publications .row .col-md-4 img {
        border-radius: 8px 8px 0 0; }
      .publications .row .col-md-4 div {
        background: #FFFFFF;
        padding: 30px;
        height: 100%;
        border-radius: 0 0 8px 8px; }
        .publications .row .col-md-4 div a {
          letter-spacing: unset;
          text-transform: unset;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #24A3FF;
          margin-bottom: 15px;
          margin-left: 0; }
        .publications .row .col-md-4 div span {
          display: block;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #B3B3BA;
          margin-bottom: 34px;
          position: relative; }
          .publications .row .col-md-4 div span:after {
            content: "";
            height: 4px;
            width: 100%;
            background: #E6E6F0;
            position: absolute;
            top: 30px;
            left: 0; }
        .publications .row .col-md-4 div p {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #000000; }

header.header_commerce {
  background: #323264 57.17%; }
  header.header_commerce .navbar-light .navbar-brand {
    width: 318px;
    height: 60px;
    background-image: url("../images/dark_logo.svg");
    background-repeat: no-repeat; }
  header.header_commerce .navbar-light ul:nth-child(2) li:hover, header.header_commerce .navbar-light ul:nth-child(2) li:active {
    border-bottom: none;
    transition: none; }
  header.header_commerce .navbar-light .navbar-nav .nav-item {
    color: #ffffff; }
    header.header_commerce .navbar-light .navbar-nav .nav-item .nav-link {
      position: relative;
      color: #FFFFFF;
      padding: 0;
      margin: 8px 8px; }
      header.header_commerce .navbar-light .navbar-nav .nav-item .nav-link.act {
        color: #F0145A; }
        header.header_commerce .navbar-light .navbar-nav .nav-item .nav-link.act:after {
          background-color: #F0145A; }
      header.header_commerce .navbar-light .navbar-nav .nav-item .nav-link:after {
        content: "";
        display: block;
        opacity: 0;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
        transition: opacity 0.2s linear; }
      header.header_commerce .navbar-light .navbar-nav .nav-item .nav-link:hover:after {
        opacity: 1; }

footer.footer_commerce {
  background: #F5F5FA; }

.m_r {
  margin-right: 30px;
  margin-top: 60px; }

.font_style {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 60px; }

.p_r {
  padding-right: 10px; }

.font_grey {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA; }

.font_blue {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF; }

.t_decoration {
  text-decoration: none; }
  .t_decoration:hover {
    color: yellow;
    transition: 0.5s; }

.separator {
  margin-top: 30px;
  margin-bottom: 30px; }

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000; }

.head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264; }

.m_t_b {
  margin-top: 30px;
  margin-bottom: 15px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5 {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
